name: Pull App Translations

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  pull_translations:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0  # Max fetch depth (full history of files)

    - name: Install transifex client
      run: |
        curl -o- https://raw.githubusercontent.com/transifex/cli/master/install.sh | bash

    - name: Pull translations
      env:
        TX_TOKEN: ${{ secrets.TX_TOKEN }}
      run: |
        ./tx pull --all --use-git-timestamps --minimum-perc 100
        rm -rf package_build/locale/zh
        rm -rf package_build/locale/ja
        rm -rf package_build/locale/ko

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      with:
        title: Update translation file(s) of the app
        commit-message: Update translation file(s) of the app
        author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
        add-paths: package_build/locale/*
        delete-branch: true
