name: Update mo files

on:
  push:
    branches: ["main"]
    paths:
      - "package_build/locale/**/*.po"
      - ".github/workflows/update-mo-files.yml"

  workflow_dispatch:

jobs:
  push:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Install Poethepoet
        run: pipx install poethepoet

      - name: Install gettext utils
        run: sudo apt install gettext

      - name: Update mo files
        run: poe msgfmt

      - name: Push changes to the repository
        uses: EndBug/add-and-commit@v9.1.4
        with:
          author_name: github-actions[bot]
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          add: "package_build/locale/*"
